<header>
    <nav id="github-header" class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <div class="search-container">
                <img class="padding-1-l logo interactive" src="../../../assets/images/logo.ico" width="40" height="40" (click)="onHomePageVisit()"/>
                <form class="search-form form-inline">
                    <input
                        class="form-control form-control-sm mr-3 search-bar"
                        type="text"
                        placeholder="Search for Github user"
                        aria-label="Search for Github user"
                        (keyup.enter)="onDoSearch()"
                        name="search-bar"
                        [(ngModel)]="searchTerm"/>
                </form>
                <span class="mdi mdi-magnify search-btn interactive" (click)="onDoSearch()"></span>
            </div>
        </div>
    </nav>
</header>