<div class="body">
    <app-search-bar></app-search-bar>
                    <!-- <SearchBar keyword={this.state.searchKeyword} onChange={(keyword) => this.onSearchKeywordChange(keyword)} onClick={() => this.onSearchBtnClick()}/> -->
                    <!-- <Spinner /> -->
    <div class="page-content page-content--full">
        <router-outlet></router-outlet>
                        <!-- <Switch>
                            <Route
                                path='/'
                                exact
                                render={() => <SearchUsersResults onClick={userId => this.onProfileVisit(userId)}/>}
                            />
                            <Route
                                path='/user-profile'
                                render={() => <UserProfile onClick={userId => this.onRepositoriesPageVisit(userId)}/>}
                            />
                            <Route
                                path='/repositories'
                                render={() => <RepositoriesList />}
                            />
                        </Switch> -->
    </div>
</div>